<style>
</style>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a href="/home" class="navbar-brand">ShopHub</a>
        <button class="navbar-toggler navbar-dark" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="/addProduct" class="nav-link">Add Product</a></li>
                <li class="nav-item"><a href="/home/searchProduct" class="nav-link">Search</a></li>
            </ul>
            <ul class="nav navbar-nav ml-auto">    
                <li class="nav-item">
                    <a id="cart" href="/home/shopping-cart" class="nav-link">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
                        <span class="badge">({{session.cart.totalQty}})</span>
                    </a>
                </li>
                <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
            </ul>
        </div>
</nav>