<head>
    <link rel="stylesheet" href="css/registerStyle.css">
</head>

<div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div id="ui">
                        <h1 class="text-white">Add a Product</h1>
                        <form class="form-group text-center" action="/addProduct">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Product Name: </label>
                                    <input placeholder="Enter Product Name" class="form-control" type="text" name="productName" id="fname">
                                </div>
                                <div class="col-lg-6">
                                    <label>Price: </label>
                                    <input placeholder="Enter Price" class="form-control" type="text" name="price" id="lname">
                                </div>
                            </div>
                            <br>
                            <label>Product Description:</label>
                            <input placeholder="Enter Product Description" class="form-control" type="text" name="description" id="username">
                            <br>
                            <label>Add Photo:</label>
                            <br>
                            <input class="text-white" type="file" name="photo" id="">
                            <br>
                            <br>
                            <input class="btn btn-primary btn-block btn-lg" type="submit" name="submit" id="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>