<link rel="stylesheet" href="/CCAPDEV Phase 2/public/css/checkout2.css">

<div class="container">
            <div class="col-lg-12">
                <div id="ui">
                    <h1 class="text-white">Checking Out</h1>
                    <form class="form-group text-center">
                        <div class="row">
                            <div class="col-lg-4">
                                <br>
                                <label>Product Name: </label>
                                <h4>{{product.name}}</h4>
                            </div>
                            <div class="col-lg-4">
                                <br>
                                <label>Pieces: </label>
                                <h4>{{product.pieces}}</h4>
                            </div>
                            <div class="col-lg-4">
                                <br>
                                <label>Price: </label>
                                <h4>{{product.price}}</h4>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12">
                                <br>
                                <label>Total Cost:</label>
                                <h4>{{product.total}}</h4>
                                <br>
                            </div>
                        </div>
                    </form>
                    <div class="form-group text-center">
                        <form action="registeredHomeView.html" id="submitStyle"><button class="btn btn-primary btn-block btn-lg" id="submit">Next</button></form>
                    </div>
                </div>
            </div>
        </div>