<link rel="stylesheet" href="css/editprofile.css">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="ui">
                    <h1 class="text-white">Editing Your Profile Information</h1>
                    <form class="form-group text-center" action="/editProfile" method="POST">
                        <br>
                        <div class="row"> 
                            <div class="col-lg-6">
                                <label>First Name: </label>
                                <input placeholder="Enter First Name" class="form-control" type="text" name="firstName" id="fname" value="{{firstName}}">
                            </div>
                            <div class="col-lg-6">
                                <label>Last Name: </label>
                                <input placeholder="Enter Last Name" class="form-control" type="text" name="lastName" id="fname" value="{{lastName}}">
                            </div>
                        </div>
                        <br>
                        <label>Complete Address:</label>
                        <input placeholder="Enter Complete Address" class="form-control" type="text" name="address" id="fname" value="{{address}}">
                        <br>
                        <label>Phone Number:</label>
                        <input placeholder="Enter Phone Number" class="form-control" type="number" name="contactNumber" id="fname" value="{{contactNumber}}">
                        <br>
                        <input class="btn btn-primary btn-block btn-lg" type="submit" name="submit" id="submit" value="Confirm Changes">
                    </form>
                </div>
            </div>
        </div>
    </div>