    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a href="../html/homeView.html" class="navbar-brand">ShopHub</a>
        <button class="navbar-toggler navbar-dark" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="../html/profileView.html" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="../html/addProductView.html" class="nav-link">Add Product</a></li>
                <li class="nav-item"><input class="nav-link form-control" type="text" name="" id="nav-search"></li>
                <li class="nav-item"><button class="nav-link form-control" id="btnSearchItem">Search</button></li>
                <li class="nav-item">
                    <select class="nav-link form-control" name="Categories" id="cat">
                        <option value="">Clothes</option>
                        <option value="">Electronics</option>
                        <option value="">Toys</option>
                        <option value="">Home & Living</option>
                        <option value="">Sports & Lifestyle</option>
                        <option value="">Groceries & Pets</option>
                    </select>
                </li>
                <li class="nav-item"><a id="checkout" href="../html/checkoutView1.html" class="nav-link">Checkout</a></li>
                <li class="nav-item"><a href="../html/welcomeView.html" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </nav>

