<link rel="stylesheet" href="css/registerStyle.css">

<div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div id="ui">
                        <h1 class="text-white">Login</h1>
                        <form class="form-group text-center" action="../html/registeredHomeView.html">
                            <br>
                            <label>Username</label>
                            <input placeholder="Enter Username" class="form-control" type="text" name="username" id="username">
                            <br>
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Password: </label>
                                    <input placeholder="Enter Password" class="form-control" type="password" name="password" id="password">
                                </div>
                            </div>
                            <br>
                            <input class="btn btn-primary btn-block btn-lg" type="submit" name="submit" id="submit" value="Submit" >
                        </form>
                    </div>
                </div>
            </div>
</div>